.home-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 100px;
    height: 100vh;
}

.header{
    font-family: 'Poppins', sans-serif;
    color: #144D14;
}

.description{
    font-family: 'Poppins', sans-serif;
    color: #838383;
    
}